repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.6
  hooks:
    - id: ruff
      args: [ --fix, --select=B905 ]
    - id: ruff-format

- repo: https://github.com/astral-sh/uv-pre-commit
  # uv version
  rev: 0.6.0
  hooks:
    - id: uv-lock

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: end-of-file-fixer

- repo: https://github.com/dhruvmanila/remove-print-statements
  rev: v0.5.2  
  hooks:
  - id: remove-print-statements
