repos:
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
    name: isort (python)
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
    additional_dependencies: ["click==8.0.4"]
    language_version: python3
- repo: https://github.com/pycqa/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/python-poetry/poetry
  rev: 1.2.2
  hooks:
  - id: poetry-check
  - id: poetry-lock
    args: [--check, --no-update]
