[tool.poetry]
name = "ml4gw"
version = "0.4.0"
description = "Tools for training torch models on gravitational wave data"
readme = "README.md"
authors = [
    "Alec Gunny <alec.gunny@ligo.org>", "Ethan Marx <emarx@mit.edu>", "Will Benoit <benoi090@umn.edu>", "Deep Chatterjee <deep1018@mit.edu"
]

[tool.poetry.dependencies]
python = "^3.8,<3.12"

# torch deps
torch = [
    {version = "^1.10", python = ">=3.8,<3.11"},
    {version = "^2.0", python = ">=3.11"}
]
torchaudio = [
    {version = "^0.13", python = ">=3.8,<3.11"},
    {version = "^2.0", python = ">=3.11"}
]
torchtyping = "^0.1"

[tool.poetry.group.dev.dependencies]
pre-commit = "^2.16"
pytest = "^7.0"

# need lalsuite to compute gmst in injection testing
lalsuite = "^7.0"
bilby = "^2.1"
jupyter = "^1.0.0"

Sphinx = ">5.0"
sphinx-rtd-theme = "^2.0.0"
myst-parser = "^2.0.0"
sphinx-autodoc-typehints = "^2.0.0"

[tool.black]
line-length = 79
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.tox
  | _build
  | dist
  | docs
)/
'''


[tool.isort]
known_first_party = ["ml4gw"]
multi_line_output = 3
include_trailing_comma = true


[tool.tox]
legacy_tox_ini = """
[tox]
envlist = py{38,39,310,311}
isolated_build = true

[gh-actions]
python =
    3.8: py38
    3.9: py39
    3.10: py310
    3.11: py311

[testenv:py{38,39,310,311}]
deps = 
    pytest>=7,<8
    lalsuite>=7,<8
    bilby>=1.1,<2
    gwpy>=3.0
commands = pytest tests
"""

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
