name: Build and publish docs
on:
  push:
    branches:
      - main
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Setup python
      id: setup-python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Install and Build
      run: |
        pip install .
        cd docs
        make clean
        make html
    - 
      name: Deploy pages
      uses: JamesIves/github-pages-deploy-action@v4.2.5
      with:
        branch: gh-pages
        folder: docs/_build/html
