name: unit-tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.8', '3.9', '3.10']
        poetry-version: ['', '1.2.0', '1.2.1', '1.2.2', '1.3.0', '1.3.1']
    steps:
    - uses: actions/checkout@v2

    # set up our environment
    - 
      name: Install Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - 
      name: Install Poetry
      uses: abatilo/actions-poetry@v2.0.0
      if: ${{ matrix.poetry-version != '' }}
      with:
        poetry-version: ${{ matrix.poetry-version }}

    -
      name: Install tox
      run: |
        python -m pip install --upgrade pip
        pip install tox tox-gh-actions

    # run the library's tests
    -
      name: run tests
      run: |
        if [[ -z "${{ matrix.poetry-version }}" ]]; then
            tox -e py{38,39,310}-pip
        else
            tox -e py{38,39,310}-poetry
        fi

  # if all the tests pass on a push to main,
  # publish the new code to pypi
  publish:
    runs-on: ubuntu-latest
    needs: test
    environment: PyPI
    if: ${{ github.event_name == 'push' }}
    steps:
    - uses: actions/checkout@v2
    - 
      name: Build and publish to pypi
      uses: JRubics/poetry-publish@v1.16
      with:
        python_version: "3.10.9"
        pypi_token: ${{ secrets.PYPI_TOKEN }}
